beautifulsoup4==4.11.1
bezier==2021.2.12
augmixations==0.1.2
lmdb==1.3.0
nltk==3.6.7
opencv-python==4.5.5.64
pillow
python-doctr==0.5.1
requests==2.27.1
scikit-learn==0.24.2
scikit-image==0.19.3
six==1.16.0
torch==1.11.0
torchvision==0.12.0
pandas==1.4.2
wget==3.2
